:root {
	--player0-color: #ff3333;
	--player1-color: #33ff33;
	--player2-color: #ffaa33;
	--player3-color: #33ffff;
}
html {
	cursor: url('cursor.svg') 18 3, default;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
body {
	width: 500px;
	margin: auto;
}
button, input, label {
	cursor: inherit;
}
label.disabled {
	visibility: hidden;
}
body {
	background-color: black;
	color: white;
	font-family: sans-serif;
}
h1 {
	line-height: 1;
	width: 500px;
	margin: 50px auto 10px auto;
	padding: 0;
	text-align: center;
	font-size: 50pt;
}
h1 img {
	width: 100%;
}
a {
	color: #bbf;
}
a:hover {
	color: #eef;
}
#about {
	margin: 50px auto;
	width: 500px;
	text-align: justify;
}
#intro {
	margin: 50px auto;
	width: 500px;
	text-align: center;
}
#intro table {
	margin: auto;
}
#intro th.player0 {
	color: var(--player0-color);
}
#intro th.player1 {
	color: var(--player1-color);
}
#intro th.player2 {
	color: var(--player2-color);
}
#intro th.player3 {
	color: var(--player3-color);
}
#intro label {
	font-size: 0.8em;
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 5px 20px 5px 5px;
	border: 2px solid;
	border-color: #88a #224 #224 #88a;
}
#intro input[type="radio"] {
	position: absolute;
	opacity: 0;
}
#intro input[type="radio"]:checked + label {
	background-color: #448;
}
#intro input[type="radio"]:checked + label::after {
	content: '\2713';
	color: white;
	position: absolute;
	top: 6px;
	right: 3px;
	font-size: 12pt;
	font-weight: bold;
	line-height: 1em;
}
#intro input[type="radio"]:focus + label {
	outline: 1px solid white;
}
#intro button {
	font-size: 18pt;
	line-height: 1;
	margin: 20px;
	padding: 10px;
	background-color: black;
	color: white;
	border: 2px solid;
	border-color: #88a #224 #224 #88a;
}
#intro button:focus {
	outline: 1px solid white;
}
#intro button:active {
	background-color: #448;
	outline: none;
}
#status {
	width: 500px;
	height: 60px;
	margin: 10px auto;
	font-size: 20pt;
}
#status button {
	font-size: 20pt;
	line-height: 1;
	padding: 10px;
	background-color: black;
	color: white;
	border: 2px solid;
	border-color: #88a #224 #224 #88a;
}
#board {
	margin: 10px auto;
	width: 500px;
	height: 300px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(6, 1fr);
	transition-property: transform;
	transition-duration: 2000ms;
}
#board.start {
	transform: scale(5) rotate(0.5turn);
}
.cell {
	background-color: transparent;
	border: 1px solid white;
	outline: none;
	position: relative;
}
.cell.filled {
	background-color: #202464;
	border-color: #668 #113 #113 #668;
	border-width: 2px;
}
.atom {
	transition-property: transform, left, top;
	transition-duration: 100ms;
	border-radius: 50%;
	position: absolute;
	width: 18px;
	height: 18px;
	box-shadow: 0px 0px 1px black;
}
.atom.atom1.pos1 {
	left: 15px;
	top: 15px;
}
.atom.atom1.pos2 {
	left: 6px;
	top: 15px;
}
.atom.atom1.pos3 {
	left: 6px;
	top: 7px;
}
.atom.atom1.pos4 {
	left: 6px;
	top: 6px;
}
.atom.atom2.pos1 {
	left: 24px;
	top: 15px;
}
.atom.atom2.pos2 {
	left: 24px;
	top: 7px;
}
.atom.atom2.pos3 {
	left: 24px;
	top: 6px;
}
.atom.atom3.pos1 {
	left: 15px;
	top: 23px;
}
.atom.atom3.pos2 {
	left: 6px;
	top: 24px;
}
.atom.atom4.pos1 {
	left: 24px;
	top: 24px;
}
.atom.atom5.pos1 {
	left: 15px;
	top: 15px;
	visibility: hidden;
}
.atom.size0 {
	transform: scale(0.1);
}
.atom.player0 {
	background: radial-gradient(circle at 4px 6px, #ddd, var(--player0-color) 20%, #000);
}
.atom.player1 {
	background: radial-gradient(circle at 4px 6px, #ddd, var(--player1-color) 20%, #000);
}
.atom.player2 {
	background: radial-gradient(circle at 4px 6px, #ddd, var(--player2-color) 20%, #000);
}
.atom.player3 {
	background: radial-gradient(circle at 4px 6px, #ddd, var(--player3-color) 20%, #000);
}
.explosion {
	transition-property: transform, opacity, background-color;
	transition-duration: 200ms;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	position: absolute;
	top: 0;
	left: 0;
}
.explosion.start {
	opacity: 1;
	transform: scale(0.1);
	background-color: white;
}
.explosion.end {
	opacity: 0;
	background-color: white;
}
#playerList {
	margin: auto;
	width: 500px;
}
.player {
	width: 40px;
	height: 30px;
	margin: 25px 5px 5px 5px;
	position: relative;
	float: left;
	border-radius: 20px 20px 0 0;
	border: 1px solid black;
}
.player:before {
	content: '';
	position: absolute;
	margin: -25px 5px 0 5px;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid black;
}
.player.active {
	box-shadow: 0 0 20px white;
}
.player.active:before {
	box-shadow: 0 -2px 13px white;
}
.player.dead:after {
	content: 'X';
	position: absolute;
	margin-top: -25px;
	width: 40px;
	height: 65px;
	background-color: rgba(0, 0, 0, 0.8);
	color: red;
	font-size: 60px;
}
.player.player0, .player.player0:before {
	background-color: var(--player0-color);
}
.player.player1, .player.player1:before {
	background-color: var(--player1-color);
}
.player.player2, .player.player2:before {
	background-color: var(--player2-color);
}
.player.player3, .player.player3:before {
	background-color: var(--player3-color);
}
